.about {
  padding-top: 8rem;
  background: #000;
}
.heading1 {
  text-align: center;
  color: #fff;
  font-size: 34px;
}
.container {
  display: flex;
  padding: 0 80px;
  align-items: center;
  column-gap: 160px;
}
.paragraph {
  color: #d5d5d5;
  padding-bottom: 20px;
}
.btn {
  padding: 10px 20px;
  background: #2e4dec;
  border-radius: 100px;
  color: #fff;
  display: inline;
  cursor: pointer;
}

@media screen and (max-width: 1260px) {
  .container {
    padding-top: 40px;
    column-gap: 120px;
  }
  .img {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    padding: 0 40px;
  }
  .img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 440px) {
  .heading1 {
    font-size: 28px;
  }
  .img {
    width: 350px;
    height: 350px;
  }
  .paragraph {
    font-size: 14px;
  }
}
