.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 5rem 24px 5rem;
  background: #101012;
  z-index: 99;
  box-shadow: 0 5px 10px rgba(65, 65, 65, 0.09);
}
.navbar.active {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  box-shadow: 0 5px 10px rgba(65, 65, 65, 0.09);
  background-color: #101012;
  transform: translateY(70px);
  transition: transform 1s ease;
}
.title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Rubik', serif;
  letter-spacing: 0.5px;
}
.dot {
  color: #2e4dec;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu_item {
  display: flex;
}
.menu .menu_item li {
  padding: 0 20px;
}
.menu .menu_item li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}
.menu .menu_item {
  color: #7a49fe;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.5px;
}
.menu .menu_item li a:hover {
  color: #7a49fe;
}

.fa_bars {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}
.menu .menu_item .famatime {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  float: right;
  padding-top: 15px;
  padding-right: 20px;
  display: none;
}
.over {
  position: fixed;
  background-color: #232323cc;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  display: none;
  z-index: 4;
}
@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .menu {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    transform: translateX(-300px);
    background-color: #fff;
    visibility: hidden;
    overflow-x: hidden;
    transition: transform 1s ease-out;
  }
  .fa_bars {
    display: flex;
    cursor: pointer;
  }
  .menu .menu_item .famatime {
    display: flex;
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  .mobile_menu {
    transform: translateX(0);
    visibility: visible;
    transition: transform 0.5s ease-out, visibility 0s;
    background: #212736;
    text-align: center;
  }
  .menu .menu_item {
    display: block;
    margin-top: 70px;
  }
  .menu .menu_item li {
    display: block;
    padding: 15px 15px;
    margin: 0;
  }
  .menu .menu_item li a {
    color: #fff;
  }
  .menu .hire {
    display: none;
  }
  .actived {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .fa_bars {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
