.product {
  padding: 6rem 6rem 0 6rem;
  background: #101012;
}
.product_tittle {
  text-align: center;
  padding-bottom: 50px;
}
.product_tittle h2 {
  padding-bottom: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  font-family: 'Poppins', serif;
  text-transform: uppercase;
}
.product_tittle p {
  font-size: 16px;
  font-weight: 300;
  width: 50%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 30px;
  color: #6f7c7c;
}
.product_line {
  height: 3px;
  width: 82px;
  background-color: #2e4dec;
  margin: auto;
}
.nav_list {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 40px;
}
.nav_list li {
  display: inline-block;
  margin-right: 10px;
}
.nav_list li a {
  cursor: pointer;
  color: #fff;
  background-color: #2e4dec;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding: 8px 20px;
  border-radius: 25px;
}
.product_row {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.product_cols {
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 15px 5px rgb(44 44 44 / 5%);
  position: relative;
  background: #ffffff;
  border-radius: 10px;
}
.product_img {
  position: relative;
}
.product_img img {
  width: 100%;
}
.product_img::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  right: 0;
  top: 0;
  background: #001d381d;
  opacity: 0.3;
}
.img_tag {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  padding: 15px 15px 0 15px;
}
.img_tag h3 {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  background: #2e4dec;
  display: inline-block;
  padding: 6px 18px;
  float: right;
}
.post_content {
  padding: 25px 25px;
  background: #18181b;
}
.post_content p {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.post_content .price p{
    padding-top: 10px;
    font-size: 20px;
}
.post_content p i {
  font-size: 12px;
}
.post_content p span {
  font-weight: 600;
  letter-spacing: 1px;
}
.post_title h4 {
  display: block;
  color: #fff;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 10px;
}
.post_text  p {
  line-height: 1.8;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}
.post_content .post_more {
  padding: 8px 15px;
  background: #2e4dec;
  border-radius: 50px;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Poppins';
  transition: all 0.4s;
}
.btn_more{
  background: none;
  border: none;
  font-size: 16px;
  color: #2e4dec;
}
@media screen and (max-width: 1024px) {
  .product_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .product_cols {
    margin: 0 15px 25px 15px;
    box-shadow: 0 4px 15px 5px rgb(44 44 44 / 5%);
    position: relative;
  }
}
@media screen and (max-width: 900px) {
  .product_tittle p {
    width: 80%;
  }
  .nav_list li {
    padding-bottom: 30px;
  }
  .port_row {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .product {
    padding: 7rem 1rem 0 1rem;
    overflow: hidden;
  }
  .product_cols {
    margin: 0 10px 25px 10px;
    box-shadow: 0 4px 15px 5px rgb(44 44 44 / 5%);
    position: relative;
  }
  .post_content .price p{
    font-size: 24px;
  }
  .product_img .imge{
    width: 100%;
  }
  .post_content{
    padding: 25px 25px;
  }
  .product_tittle p {
    width: 100%;
  }
  .nav_list {
    padding-bottom: 30px;
  }
}
@media screen and (max-width:550px) {
    .product_row{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
    }
    .product_tittle h2{
        font-size: 35px;
    }
    .post_content {
        padding: 25px 10px;
    }
}
