.us {
  background: #fff;
  padding-top: 4rem;
}
.container {
  padding: 0 80px;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.heading {
  color: #000;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
}
.why {
  width: 100%;
  display: flex;
  column-gap: 80px;
}
.why .why_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 100%;
}
.why_content .ket {
  font-size: 14px;
  color: #000;
  text-align: center;
}
.img{
  color: #000;
}

@media screen and (max-width: 850px) {
  .why {
    column-gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .container{
    padding: 0 40px;
  }
    .us {
    padding-top: 5rem;
  }
  .heading{
    font-size: 28px;
  }
  .why {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
